.search_result {
	font-family: Arial, sans-serif;
	padding: 150px;
}

.tabs {
	display: flex;
	width: 500px;
	background-color: #2c6aa0;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 auto 20px auto;
}

.tab {
	flex: 1;
	text-align: center;
	padding: 10px;
	color: white;
	cursor: pointer;
}

.tab.active{
	background-color: #1e4f78;
}

.search_box{
	width: 250px;
	padding: 8px;
	border: 2px solid black;
	margin: 0 auto 10px auto;
	display: block;
	background-color: white;
	margin-left: 0;
}

.filters{
	font-size: 14px;
	margin-bottom: 50px;
}

.card { 
	display: flex;

	width: 40%;
	background-color: white;
	margin: 0 auto 20px auto;
	border: 1px solid black;

	img { 
		aspect-ratio: 1 / 1;
		object-fit: cover;
		width: 33%;
	}
	
}

.card_content{
	margin: 0;
	font-size: 16px;
	position: relative;
}

.card_content h3{
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	font-size: 18px;
}

.card_content ul{
	list-style-type: disc;
	margin: 5px 0 0 15px;
	padding: 10px;
	font-size: 15px;
}

.card_content2{
	margin-top: 10px;
	position: relative;
}

.card_content2 h3{
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	font-size: 18px;
}

.card_content2 ul{
	list-style-type: disc;
	padding: 10px;
	margin: 5px 0 0 15px;
}

.rating{
	display: inline-block;
	padding: 2px 8px;
	background-color: #1e4f78;
	border-radius: 6px;
	margin-top: 110px;
	color: white;
	font-size: 14px;
}

.miles{
	align-self: flex-end;
	font-size: 12px;
	color: black;
}