.light {
	--bg: white;
	--text: black;
	--card: white;
	--border: #dbe5ef;
}

.dark {
	--bg: #0f172a;
	--text: white;
	--card: #1f2937;
	--border: #334155;
}
.canvas { 
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg);
	color: var(--text);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
